<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li>
        <a href="task">
          <span class="icon"><i class="fas fa-database"></i></span>
          <span class="item">tareas</span>
        </a>
      </li>
      <li>
        <a href="cuentas">
          <span class="icon"><i class="fas fa-chart-line"></i></span>
          <span class="item">Cuentas</span>
        </a>
      </li>
      <li>
        <a href="movimientos">
          <span class="icon"><i class="fas fa-user-shield"></i></span>
          <span class="item">Movimentos</span>
        </a>
      </li>
      <li>
        <a href="reportes">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="item">Reportes</span>
        </a>
      </li>
    </ul>
  </div>

</div>